{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": 7 },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "env": {
    // "production": {
    //   "presets": ["@babel/preset-react"]
    //   // "plugins": ["@babel/plugin-transform-react-jsx-source"]
    // },
    "development": {
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}
